<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <!-- FortAwesome icons-->
    <script src="https://use.fortawesome.com/ed31cded.js"></script>
    <script src="https://use.fortawesome.com/df832575.js"></script>

    <link rel="stylesheet" href="../../css/style.prototype.common.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/styleguide-specific.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
